<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyz.richtext">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".richactivity.StyleActivity" />
        <activity android:name=".richactivity.ForegroundColorActivity" />
        <activity android:name=".richactivity.SizeActivity" />
        <activity android:name=".richactivity.ImageActivity" />
        <activity android:name=".richactivity.ClickableActivity" />
        <activity android:name=".richactivity.UrlActivity" />
        <activity android:name=".richactivity.BackgroundColorActivity" />
        <activity android:name=".richactivity.UnderlineActivity" />
        <activity android:name=".richactivity.StrikethroughActivity" />
        <activity android:name=".richactivity.MaskFilterActivity" />
        <activity android:name=".richactivity.SubscriptActivity" />
        <activity android:name=".richactivity.SuperscriptActivity" />
        <activity android:name=".richactivity.ScaleXActivity" />
        <activity android:name=".richactivity.TextAppearanceActivity" />
        <activity android:name=".richactivity.FlagsActivity" />
        <activity android:name=".richactivity.TypefaceActivity" />
        <activity android:name=".richactivity.AutoLinkActivity" />
        <activity android:name=".richactivity.HtmlActivity" />
        <activity android:name=".richactivity.SpannableStringBuilderActivity" />
    </application>

</manifest>